<% @page ||= 1; @pages ||= 1 %>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
          <div class="inner clearfix">
            <span id="auido_title"><%= App.config.item_name %><sup>*</sup>: </span>
            <form id="piar" action="/">
              <input id="piido" type="text" name="piido" value="" size="8" />
              <button type="button" class="btn"><img src="images/think.png" class="msg-icon" data-icon="think.png" /></button>
            </form>
            <form id="tuitear" action="/tuits" method="POST">
              <button type="button" class="btn"><img src="images/shout.png" class="msg-icon" data-icon="shout.png" /></button>
            </form>
          </div>

          <div id="search"></div>

<% if @page > 1 %>
          <div class="pagination">
            <p>Page <%= @page %> of <%= @pages %></p>
            <p>« <a href="?page=<%= @page - 1 %>">PREVIOUS PAGE</a> «<p>
          </div>
<% end %>

          <div id="content"></div>

<% if @pages > @page %>
          <div class="pagination">
            <p>Page <%= @page %> of <%= @pages %></p>
            <p>» <a href="?page=<%= @page + 1 %>">NEXT PAGE</a> »</p>
          </div>
<% end %>
        </div>

      </div>
    </div>

    <script>
      var socket, host, wshost, template;
      host = '<%= "http://#{request.env['SERVER_NAME']}:#{request.env['SERVER_PORT']}/" %>';
      wshost = 'ws://<%="#{request.env['SERVER_NAME']}:#{request.env['SERVER_PORT'].to_i + 1}" %>';

      var tuits_submitted = <%= @tuits_submitted %>;
    </script>
