<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/style.css?version=20150212002">

    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/mustache.js"></script>

  </head>

  <body>
    <script id="template_query" type="x-tmpl-mustache">
      <div class="results_title">
        <p>Resultados para '<strong>{{query}}</strong>' (<a href="/search.json?query={{query}}">resultados en formato JSON</a>):</p>
      </div>
    </script>
    <script id="template_result" type="x-tmpl-mustache">
      <div class="results">
        <a href="/tuits/{{tuit}}"><img src="/images/{{tuit}}.png" onerror="this.src = '/images/frijolito.png'" alt="{{tuit}} avatar or default avatar" class="img-thumbnail icon"/></a>
        <p><strong>{{tuit}}</strong>: {{at}}</p>
        <p>· <a href="/tuits/{{tuit}}.json">JSON FILE</a> ·</p>
      </div>
    </script>
    <script id="template_no_results" type="x-tmpl-mustache">
      <div class="results no-results">
      <p>No se han encontrado resultados para '<strong>{{query}}</strong>'</p>
      </div>
    </script>
    <script id="template_in_other_dromes" type="x-tmpl-mustache">
      <div class="results in_other_dromes">
        <p><em>Resultado en otro/s dromo/s</em>: {{other_dromes_results}}</p>
      </div>
    </script>
<% if App.config.drome_of_humans? %>
    <script id="template_tuited" type="x-tmpl-mustache">
      <div class="status">
        <a href="/tuits/{{tuit}}"><img src="/images/{{tuit}}.png" onerror="this.src = '/images/frijolito.png'" alt="{{tuit}} avatar or default avatar" class="img-thumbnail icon"/></a>
        <p><%= App.config.tuit_sentence %></p>
        <p><%= App.config.tuit_consideration %></p>
      </div>
    </script>
<% else %>
    <script id="template_tuited" type="x-tmpl-mustache">
        <p>* <strong><a href="/tuits/{{tuit}}">{{tuit}}</strong></a> ({{at}})</p>
    </script>
<% end %>

    <div class="dromes-links">
      <div class="dromes-links-inner">
        <% [
             %w{Auidrome Petodrome Vegidrome Fictiondrome},
             %w{Docudrome Eventodrome Projectdrome Machinedrome}
           ].each do |dromes| %>
        <div>
          <% dromes.map{|dromename| Auidrome::Config.new(dromename)}.each do |drome| %>
          <a href="http://<%= drome.domain_and_port %>"><%= drome.site_name %></a>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>

    <div class="toolbar">
<% if current_user %>
      You're <strong><%= current_user %></strong> in our...
<% else %>
      <a href="http://OTAONY.com">OTAONY.com</a>
<% end %>
    </div>
    <div class="header">
      ❧ <h1><a href="/" title="<%= App.config.site_name %> home"><%= App.config.site_name %></a></h1> ☙
    </div>

<% if flash[:notice] %>
    <div class="notice">
      <div class="notice-inner">
        <%= flash[:notice] %>
      </div>
    </div>
<% end %>

    <%= yield %>

    <div class="dromes-links">
      <div class="dromes-links-inner">
        <% [
             %w{Auidrome AcadoDrome PedaloDrome},
             %w{LoveDrome FictionDrome},
             %w{ByebyeDrome RestoDrome RipoDrome}
           ].each do |dromes| %>
        <div>
          <% dromes.map{|dromename| Auidrome::Config.new(dromename)}.each do |drome| %>
          <a href="http://<%= drome.domain_and_port %>"><%= drome.site_name %></a>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>

    <div class="footer">
      <div>* <strong><%= App.config.item_name %></strong>: <%= App.config.item_description %></div>
<% if App.config.site_name == 'Auidrome' %>
      <div>Auidrome will be <a href="http://hyperboot.org">hyperbooted</a> and its current source code can be found <a href="http://github.com/AuiDrome/auidrome">here</a>.</div>
<% else %>
      <div><%= App.config.site_name %> is powered by <a href="http://github.com/AuiDrome/auidrome">Auidrome</a>.</div>
<% end %>
    </div>


    <script src="/js/general.js?version=20150212002"></script>
  </body>
</html>
