
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <section id="tuit" class="<%= App.config.drome_of_humans? ? 'human' : 'other' %>">
            <article>
<% if App.config.drome_of_humans? %>
              <a href="<%= @drome_entry.image_href %>">
                <img src="<%= @drome_entry.image_src %>" alt="<%= @drome_entry.auido %> image" class="img-thumbnail icon"/>
              </a>
<% end %>
                <h1 id="auido">
                  <%= @drome_entry.auido %>
                </h1>
<% if App.config.drome_of_humans? and @drome_entry.identity.any? %>
                <span class="identities">
                (<% @drome_entry.identity.each do |identity| %><span class="identity">@<%= identity %></span> <% end %>)
                </span>
<% end %>
                <div class="tuit-properties">
                  <div>Created at
                    <span class="date" id="date"><%= @drome_entry.created_at %></span>
                  </div>

<% if @drome_entry.madrino.any? %>
                  <div><%= App.config.drome_of_humans? ? 'Madrino' : 'Announcer' %><%= 's' if @drome_entry.madrino.size > 1 %>
                  <% @drome_entry.madrino.each do |madrino| %>
                    <span class="madrino">
                  <%   if pedaler = Auidrome::People.pedalers[madrino.to_sym] %>
                         <a href="<%= Auidrome::Config.pedalodrome.url %>/tuits/<%= pedaler %>"><%= pedaler %></a>
                  <%   else %>
                         <%= madrino %>
                  <%   end %>
                    </span>
                  <% end %>
                  </div>
<% end %>

<%# Identity and trust/hope buttons :) %>
<% unless (@drome_entry.madrino + @drome_entry.identity).include? current_user %>
  <% unless %w{Auidrome Ripodrome Fictiondrome}.include?(App.config.site_name) %>
                  <form action="/admin/its-me/<%= @drome_entry.auido %>">
                    <button><%= me_or_by_me_button_text %></button>
                  </form>
  <% end %>
  <% unless @drome_entry.madrino.include? current_user %>
                  <form action="/admin/amadrinate/<%= @drome_entry.auido %>">
                    <button><%= amadrinate_or_authorship_button_text %></button>
                  </form>
  <% end %>
<% end %>

<%# Properties %>
                  <div class="other-properties clearfix">
<% (@drome_entry.properties - @drome_entry.core_properties).each do |property_name| %>
<%# TODO(CRITICAL): PARSE THIS ATTR BEFORE DOING ANYTHING WITH IT!!!! %>
<%# TODO: DO ALL THIS BETTER/WELL-DONE (add HAML?) %>
<%   enum_value = @drome_entry.enumerable(property_name) %>
                    <div>
                      <span class="property_name"><%= property_name %></span>
                      <span class="property_value <%= property_name %>">
<%   enum_value.each do |value| %>
                        <span>

<%     if @drome_entry.hrefable_property? property_name, value %>
                          <a href="<%= @drome_entry.href_for property_name, value %>"><%= value %></a>
<%     else %>
                          <%= value %>
<%     end %>
                        </span>
<%   end %>
                      </span>
                    </div>
<% end %>
                  </div>
                </div>
            </article>

<% if current_user %>
              <form id="property_form" action="/admin/property/<%= @drome_entry.auido %>" method="POST" >
                <input id="property_name" type="text" name="property_name" value="<%= get_property_name_from_referrer %>" size="8" />
                <input id="property_value" type="text" name="property_value" value="<%= get_value_from_referrer %>" />
                <button>Push!</button>
              </form>
<% end %>
          </section>
        </div>
      </div>
    </div>
